body {
    font-family: 'Calisto MT', Garamond, Georgia;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    margin:60px;
    padding:70px;
    background: linear-gradient(120deg, rgb(219, 190, 171), rgb(181, 157, 141));
    color: rgb(117, 102, 91);
    gap:12px;
}

/* this is the bio stuff container*/
.odin {
    display: flex;
}

/* this is the bio stuff item*/
.styl {
    border-radius: 20px;
    font-weight: bold;
    background-color: rgb(245, 213, 191);
    width:350px;
    height:640px;
    padding:20px;
    margin:0;
    border:2px solid rgb(54, 46, 42);
    box-shadow: 5px 5px rgb(54, 46, 42);
}

/*  this'll be the recipes */
.beb {
    display:flex;
    padding:30px;
    width:500px;
    height:159px;
    background-color: rgb(245, 213, 191);
    border-radius: 20px;
    border:2px solid rgb(54, 46, 42);
    box-shadow: 5px 5px rgb(54, 46, 42);
}

/*  this'll be the recipe's content*/
.inbeb {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px;
}


/* this'll be the recipes invisible container */
.bebi {
    display:flex;
    flex-direction: column;
    gap:20px;
}

/*  words in the recipes */
.recword {
    padding:5px;
    width:250px;
    height:40px;
    text-align: center;
    font-weight: bold;
    margin:0px;
    text-align: left;
    font-size: 17px;
}

.piks {
    float: inline-start;
    width:160px;
    height:150px;
    border-radius: 10px;
}

/*  the butttttton */
.butt {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid rgba(136, 118, 74, 0.719);
    margin: 10px;
    background-color:rgb(54, 46, 42);
    font-weight: bold;
    color: rgb(219, 190, 171);
}

/*  this is the sentence */
.suga {
    padding:5px;
    margin:10;
    width: 300px;
    font-size: 14px;font-weight:bold;
}

/*   */